*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
h1{
  
}
#li{
   width:300px;
    height:400px; 
    background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 6%, rgba(148,187,233,1) 97%);

    border-radius: 20px 20px 20px 20px;
    margin: 20px;
    display:inline-block;
    box-shadow: 0px 5px 30px black;
}
input{
  height: 40px;
  border-radius: 20px 20px 20px 20px
}
#b:hover{
  box-shadow: 0 0 0 5px whitesmoke;
  border: solid palegoldenrod;
  transform: scale(1.1);
  background: lightblue;
  border-radius: 50px ;
}
button{
  width: 30px;
  height: 30px;
  background: lightblue;
}