*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
#cajita{
  width: 200px;
  height: 300px;
  border: 1px solid black;
 margin:10px;
 padding:40px;
}
#value{
  width: 100px;
  height: 100px;
  border: 1px solid black;
 margin:10px;
 padding:40px;
}