*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 2s all ease;
}
#cajita{
    border: solid;
    width: 10px;
    height: 10px;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cajita{
    border: solid;
    width: 10px;
    height: 10px;
}